body {
  margin: 0;
  background: #0d192b;
  font-family: Arial, sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 90%;
  max-width: 300px;
  padding: 20px;
  background: #14253d;
  border-radius: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card > img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  color: white;
}

.card p {
  color: #8bacd9;
}

.card span {
  color: #00fff7;
  margin-right: 80px;
}

.card hr {
  border: 0;
  border-top: 1px solid #2f415b;
  margin: 20px 0;
}

@media (max-width: 700px) {
  .card-list {
    flex-direction: column;
    align-items: center;
  }
}
.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}git status