body {
  margin: 0;
  background: #0d192b;
  font-family: Arial, sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  padding: 20px;
  background: #14253d;
  border-radius: 15px;
}

.card > img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  color: white;
}

.card p {
  color: #8bacd9;
}

.card span {
  color: #00fff7;
  margin-right: 80px;
}

.card hr {
  border: 0;
  border-top: 1px solid #2f415b;
  margin: 20px 0;
}
.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}